.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 10px;
    padding-bottom: 20px;
}

.filterButtonsContainer {
    display: flex;
    gap: 12px;
    align-items: center;
    width: 100%;
    box-sizing: border-box; /* Include padding/border in width */
    overflow-x: auto;
    transition: all 0.3s ease;
}

/* Tablet and Mobile styles */
@media screen and (max-width: 1024px) {
    .filterButtonsContainer {
        scroll-behavior: smooth;
        padding: 8px 0;
        -webkit-overflow-scrolling: touch;
        scrollbar-width: thin;
        -ms-overflow-style: none; 
    }
}


.actionItemContainer {
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: space-between;
}

@media screen and (max-width: 1389px) {
    .actionItemContainer {
        flex-direction: column;
        align-items: flex-start;
    }
}

.dropdownContainer {
    display: flex;
    gap: 12px;
    align-items: center;
}
