.gameCard {
  border-radius: 10px;
  height: 227px;
  width: 100%;
  transition: all 0.3s ease;
  aspect-ratio: 171/227;
  position: relative;
  z-index: 1;
}

.gameCard:hover {
  transform: translateY(-2px);
  z-index: 10;
  cursor: pointer;
}

/* Tablet styles */
@media screen and (max-width: 1024px) {
  .gameCard {
    aspect-ratio: 150/200;
  }
}

/* Mobile styles */
@media screen and (max-width: 768px) {
  .gameCard {
    aspect-ratio: 130/180;
  }
}

/* Small mobile styles */
@media screen and (max-width: 480px) {
  .gameCard {
    aspect-ratio: 165/221;
  }
} 

